
<div class="container" >
    <div class="main-content" >
        <div style="margin-left: 25%;">
           <img src="assets\logos\supermark.png" alt="">
        </div><br>

        <div class="container">
        
          
          <!-- <div class="centered">Order Placed successfully</div> -->
        </div>

        <p class="summary">hurray!!! your order is confirmed the order id is #{{order_id}} save 
            the order id for further communication..
        </p>

        <table style="    margin-left: 10%;" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Email us</th>
                <th scope="col">Contact us</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>raodhotre.rao@gmail.com</td>
                  <td>+91 9766652331</td>
                  <td>Indapur Near Solapur To Pune Road </td>
                </tr>
            </tbody>

        </table>
          <br><br>
        <button type="button" class="btn btn-primary btn-sm" style="margin-left: 20%;" [routerLink]="['/home']" routerLinkActive="router-link-active">CONTINUE SHOPPING</button><br><br>
    </div>
    
</div>
