<nav *ngIf = "token != null" class="navbar navbar-light " style="background-color: brown;">
    <div class="container-fluid" >
      <div class="navbar-brand">
        <img  src="assets\education.svg" width="35px">&nbsp;
        <label style="color: aliceblue;">BookStore</label>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div>
        <input style="width: 200%; background-color: aliceblue;" matInput placeholder="search" 
        [matAutocomplete]="auto"
         [formControl]="stateCtrl" (ngModelChange) = "ong($event)"  >
         <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name" >
            <h6>{{state.name}}</h6>
          </mat-option>
        </mat-autocomplete>
    
      </div>
      <label style="margin-left: 60%; color: aliceblue;">Cart</label>&nbsp;&nbsp;
      <div >
        <div class="llogo"  width="30px" [routerLink]="['/cart']" routerLinkActive="router-link-active">
          <span class="" style=" background-color: aliceblue; border-radius: 80%; font-size: 11px; margin-left: 19px;"><b>{{bookIdLIst .length}}</b></span>
        </div>
      </div>  
    </div><br><br>
    </nav>
<router-outlet></router-outlet>
